/* DEVELOPER: Adrianna Rust, IS117-102, Spring 2022 */

/* header */
header h1{
    /* text */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    color: #4f3131;

    /* border */
    background-color: #f4a261;
    border: 20px solid #f4a261;
    border-radius: 5px;
    margin-right: 0;


    /* positioning */
    float: left;
    position: absolute;
    left: 20px;
    top: 0;

}

header h4{
    /* text */
    font-size: 17px;
    color: #4f3131;

    /* positioning */
    position: absolute;
    left: 230px;

}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* body */

body {
    background-color: #ede8e1;
}
.column {
    float: left;
    width: 80%;
    padding: 15px;
}

p.part1{
    /* positioning */
    position: absolute;
    top: 250px;
    left: 500px;
    width: 500px;
}

p.part2{
    /* positioning */
    position: absolute;
    top: 330px;
    left: 500px;
    width: 500px;
}
body h2{
    /* text */
    color: #4f3131;
    font-size: 50px;

    /* positioning */
    position: absolute;
    top: 120px;
    left: 500px;
}
img{
    /* circle crop */
    margin-top: 30px;
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;

    /* positioning */
    position: absolute;
    right: 900px ;
    top: 150px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Nav Menu */
#nav_menu {

    list-style-type: none;
    margin-left: 230px;
    margin-right: 0;
    padding: 0;

    /* positioning */
    position: relative;
    left: -10px;
    top: 63px;
    right: 250px;

}

#nav_menu li{
    float: left;
    list-style-type: none;

}

#nav_menu li a {
    display: block;
    width:250px;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    text-decoration: none;
    background-color: #e76f51;
    color: #4f3131;
    font-weight: bold;


}

#nav_menu li ul{
    display: none;
    top: 100%;

    /* positioning */
    position: absolute;
}

#nav_menu li:hover ul{
    margin-top: 50px;
    display: block;
}

#nav_menu li::after ul {
    clear: initial;
    display: block;
}

#nav_menu .current{
    color: yellow;
}

:current(ul,li){
    color: yellow;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* the styles for the footer */
footer{
    /* text */
    background-color: #e76f51;
    color: #4f3131;
    font-weight: bold;

    /* positioning */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;

}
footer p{
    color: white;
    position:absolute;
    bottom:5px;
}

