/* header */
header h1{
    margin-right: 200px;
    margin-left: 20px;
    float: left;
    background-color: rgba(157,142,130,0.62);
}
/* body */

.column {
    float: left;
    width: 80%;
    padding: 15px;
}

header h4{
    margin-left: 400px;
}
p{
    margin-left: 400px;
}
img{
    margin-top: 30px;
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
    position: relative;
}

/* Nav Menu */
#nav_menu {
    list-style-type: none;
    margin-left: 300px;
    padding: 0;
    position: relative;
}

#nav_menu li{
    float: left;
    list-style-type: none;
}

#nav_menu li a {
    display: block;
    width:200px;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    text-decoration: none;
    background-color: #eaa7a7;
    color: #4f3131;
    font-weight: bold;
}

#nav_menu li ul{
    display: none;
    top: 100%;
    position: absolute;
}

#nav_menu li:hover ul{
    margin-top: 50px;
    display: block;
}

#nav_menu li::after ul {
    clear: initial;
    display: block;
}

#nav_menu .current{
    color: yellow;
}

:current(ul,li){
    color: yellow;
}

/* Photo */
/* Text boxes */

/* the styles for the footer */
footer{
    background-color: #eaa7a7;
    clear: both;
}
footer p{
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

